<NuGetPack>
  <AddFrameworkReferences>true</AddFrameworkReferences>
  <DoIncludeSources>true</DoIncludeSources>
  <IconUrl>http://www.nuget.org/favicon.ico</IconUrl>
  <ProjectUrl>https://github.com/mfussenegger/crate-mono</ProjectUrl>
  <LicenseUrl>https://github.com/mfussenegger/crate-mono</LicenseUrl>
  <Authors>Michael Beer</Authors>
  <Owners>Mathias Fussenegger</Owners>
  <Copyright>Copyright 2016</Copyright>
  <Description>Crate.Client is a Mono/.NET client driver implementing the ADO.NET interface for Crate</Description>
  <Keywords>crate, sql</Keywords>
</NuGetPack>